.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.aside-filter {
	max-width: 280px;
	@media (max-width: 650px) {
		max-width: none;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		column-gap: 30px;
	}
}
.filter-price {
	display: inline-block;
	&:not(:last-child) {
		margin-bottom: 5%;
	}
}

.flights {
	width: 100%;
}
